Gaerraum.json
[{"id":"6d4b897e.a3406","type":"tab","label":"Gärraum","disabled":false,"info":""},{"id":"ae8712ea.57f4d","type":"mqtt in","z":"6d4b897e.a3406","name":"Temperaturfuehler3LWT","topic":"Temperaturfuehler3/LWT","qos":"2","datatype":"auto","broker":"1b2e1b3c.ac57fd","x":120,"y":200,"wires":[["4d149c12.51c9dc"]]},{"id":"3699658.bbfdc9a","type":"function","z":"6d4b897e.a3406","name":"Time","func":"var myObj, x;\nvar t, d, m, y;\nvar temp, unit;\nvar LWT;\n\nmyObj = msg.payload;\n\n\n\nLWT = msg.payload.Fuehler3LWT;\n\nif (LWT != \"Online\"){\n   msg.payload  = 100;\n}\nelse {\n    \nx = myObj.Fuehler3Temp.Time;\ntemp = myObj.Fuehler3Temp.DS18B20.Temperature;\nunit = myObj.Fuehler3Temp.TempUnit;\n\nt = x.substr(11,5);\nd = x.substr(8,2);\nm = x.substr(5,2);\ny = x.substr(2,2);\nx = temp + \"°\" + unit + \"  //  \" +  d + \".\" + m + \".\" + y + \" / \" + t;\n\nmsg.payload = temp;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":90,"y":300,"wires":[["eabefde3.0064c","72dcd25e.a60bec","a0123574.a61428"]]},{"id":"eabefde3.0064c","type":"debug","z":"6d4b897e.a3406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":280,"wires":[]},{"id":"16798133.d30597","type":"mqtt in","z":"6d4b897e.a3406","name":"Temperaturfuehler3","topic":"Temperaturfuehler3/SENSOR","qos":"2","datatype":"json","broker":"1b2e1b3c.ac57fd","x":110,"y":140,"wires":[["6137524.a5648ac"]]},{"id":"1ca20583.6ebbba","type":"join","z":"6d4b897e.a3406","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":160,"wires":[["3699658.bbfdc9a","8b5c00d3.9587e8"]]},{"id":"4d149c12.51c9dc","type":"change","z":"6d4b897e.a3406","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Fuehler3LWT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":200,"wires":[["1ca20583.6ebbba"]]},{"id":"6137524.a5648ac","type":"change","z":"6d4b897e.a3406","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Fuehler3Temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["1ca20583.6ebbba"]]},{"id":"72dcd25e.a60bec","type":"hysteresis","z":"6d4b897e.a3406","name":"Gärraum","ThresholdType":"fixed","ThresholdRising":"28","ThresholdFalling":"26","TopicThreshold":"threshold","TopicCurrent":"HeaterSensorOut","ThresholdDeltaRising":"1","ThresholdDeltaFalling":"1","InitialMessage":true,"OutRisingType":"str","OutRisingValue":"OFF","OutFallingType":"str","OutFallingValue":"ON","OutTopicType":"str","OutTopicValue":"msg.payload","DynRaiseError":false,"x":300,"y":320,"wires":[["af788df0.0e4c8"]]},{"id":"f1338177.fdea5","type":"mqtt in","z":"6d4b897e.a3406","name":"TasmotaSteckdose01a","topic":"TasmotaSteckdose01/POWER1","qos":"2","datatype":"auto","broker":"1b2e1b3c.ac57fd","x":100,"y":560,"wires":[["6c9738d7.6e7d58"]]},{"id":"6c9738d7.6e7d58","type":"ui_switch","z":"6d4b897e.a3406","name":"TasmotaSteckdoseKüche","label":"TasmotaSteckdoseKüche","tooltip":"","group":"e678b078.2544d","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":350,"y":560,"wires":[["37ce6095.071ae"]]},{"id":"37ce6095.071ae","type":"mqtt out","z":"6d4b897e.a3406","name":"TasmotaSteckdose01a","topic":"TasmotaSteckdose01/cmnd/POWER1","qos":"","retain":"","broker":"1b2e1b3c.ac57fd","x":580,"y":560,"wires":[]},{"id":"af788df0.0e4c8","type":"mqtt out","z":"6d4b897e.a3406","name":"TasmotaSteckdose01a","topic":"TasmotaSteckdose01/cmnd/POWER1","qos":"","retain":"","broker":"1b2e1b3c.ac57fd","x":540,"y":300,"wires":[]},{"id":"a0123574.a61428","type":"ui_chart","z":"6d4b897e.a3406","name":"","group":"e678b078.2544d","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"25","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":290,"y":380,"wires":[[]]},{"id":"8b5c00d3.9587e8","type":"function","z":"6d4b897e.a3406","name":"Time","func":"var myObj, x;\nvar t, d, m, y;\nvar temp, unit;\nvar LWT;\n\nmyObj = msg.payload;\n\n\n\nLWT = msg.payload.Fuehler3LWT;\n\nif (LWT != \"Online\"){\n   msg.payload  = \"Na\";\n}\nelse {\n    \nx = myObj.Fuehler3Temp.Time;\ntemp = myObj.Fuehler3Temp.DS18B20.Temperature;\nunit = myObj.Fuehler3Temp.TempUnit;\n\nt = x.substr(11,5);\nd = x.substr(8,2);\nm = x.substr(5,2);\ny = x.substr(2,2);\nx = temp + \"°\" + unit + \"   //   \" +  d + \".\" + m + \".\" + y + \" / \" + t;\n\nmsg.payload = x;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":90,"y":60,"wires":[["7cd62b4d.659424","8827188a.344c88"]]},{"id":"7cd62b4d.659424","type":"debug","z":"6d4b897e.a3406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":40,"wires":[]},{"id":"8827188a.344c88","type":"ui_text","z":"6d4b897e.a3406","group":"e678b078.2544d","order":2,"width":0,"height":0,"name":"Gärraum","label":"","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":80,"wires":[]},{"id":"1b2e1b3c.ac57fd","type":"mqtt-broker","z":"","name":"NodeRed","broker":"192.168.0.135","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e678b078.2544d","type":"ui_group","z":"","name":"Gärraum","tab":"fbf30c53.49413","order":3,"disp":true,"width":"6","collapse":false},{"id":"fbf30c53.49413","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]