Thermostat-flows.json
[{"id":"40427244408eae45","type":"tab","label":"Thermostat","disabled":false,"info":""},{"id":"e56b3a8fe9bd8cef","type":"mqtt out","z":"40427244408eae45","name":"Heizung EIN","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":430,"y":160,"wires":[]},{"id":"0d61ea9eebf08ff1","type":"mqtt out","z":"40427244408eae45","name":"Heizung AUS","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":430,"y":220,"wires":[]},{"id":"f21defa906f05888","type":"mqtt in","z":"40427244408eae45","name":"Heizung Status","topic":"HeaterRelayState","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":160,"y":280,"wires":[["64569f033a722a4a"]]},{"id":"3ef0739f9a85b9da","type":"inject","z":"40427244408eae45","name":"Heizung EIN","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ON","payloadType":"str","x":170,"y":160,"wires":[["e56b3a8fe9bd8cef"]]},{"id":"6f074ba061099168","type":"inject","z":"40427244408eae45","name":"Heizung AUS","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OFF","payloadType":"str","x":170,"y":220,"wires":[["0d61ea9eebf08ff1"]]},{"id":"64569f033a722a4a","type":"debug","z":"40427244408eae45","name":"Heizung Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":280,"wires":[]},{"id":"5b9227061ef9d1e2","type":"debug","z":"40427244408eae45","name":"Temperatur in C","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":160,"wires":[]},{"id":"4aaa07d335e375a3","type":"mqtt in","z":"40427244408eae45","name":"Temperatur Sensor","topic":"setCurrent","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":750,"y":160,"wires":[["5b9227061ef9d1e2"]]},{"id":"038519e1f51c3cf0","type":"mqtt in","z":"40427244408eae45","name":"Heater_outtopic","topic":"HeaterRelayOut","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":160,"y":340,"wires":[["76408c3c022673c6"]]},{"id":"76408c3c022673c6","type":"debug","z":"40427244408eae45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":340,"wires":[]},{"id":"bca3e33985dcf7f5","type":"hysteresis","z":"40427244408eae45","name":"Temperatur Hysteresis","ThresholdType":"fixed","ThresholdRising":"23","ThresholdFalling":"20","TopicThreshold":"","TopicCurrent":"","ThresholdDeltaRising":"","ThresholdDeltaFalling":"","InitialMessage":false,"OutRisingType":"str","OutRisingValue":"OFF","OutFallingType":"str","OutFallingValue":"ON","OutTopicType":"str","OutTopicValue":"HeaterRelayIn","DynRaiseError":false,"x":440,"y":520,"wires":[["77476c78d2369e9d"]]},{"id":"64332695feef0a54","type":"ramp-thermostat","z":"40427244408eae45","name":"Wohnzimmer Temperatur","profile":"05d51aa5bf1b2b5d","hysteresisplus":"1","hysteresisminus":"1","x":450,"y":720,"wires":[["537db5d0fd3b7668","8cb5996e3b16a009"],["6014407d6f8d1c93"],["0a75a43b82775381"]]},{"id":"5fceadb9696388f0","type":"mqtt in","z":"40427244408eae45","name":"Temperatur Sensor","topic":"setCurrent","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":150,"y":720,"wires":[[]]},{"id":"0a75a43b82775381","type":"debug","z":"40427244408eae45","name":"Target Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":800,"wires":[]},{"id":"6014407d6f8d1c93","type":"debug","z":"40427244408eae45","name":"Aktuelle Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":760,"wires":[]},{"id":"9ec37723dfcc2227","type":"mqtt out","z":"40427244408eae45","name":"Heizung ","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1000,"y":700,"wires":[]},{"id":"8ec587939f1f7f51","type":"mqtt in","z":"40427244408eae45","name":"Temperatur Sensor","topic":"setCurrent","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":150,"y":520,"wires":[["bca3e33985dcf7f5"]]},{"id":"537db5d0fd3b7668","type":"change","z":"40427244408eae45","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":680,"wires":[["9ec37723dfcc2227"]]},{"id":"8cb5996e3b16a009","type":"change","z":"40427244408eae45","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":720,"wires":[["9ec37723dfcc2227"]]},{"id":"7ab08c26dafce038","type":"comment","z":"40427244408eae45","name":"Steuerung mit dem Hysteresis Node","info":"","x":200,"y":480,"wires":[]},{"id":"4df35dd38e581455","type":"comment","z":"40427244408eae45","name":"Steuerung mit dem Ramp Thermostat Node","info":"","x":230,"y":660,"wires":[]},{"id":"77476c78d2369e9d","type":"mqtt out","z":"40427244408eae45","name":"Heizung ","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":700,"y":520,"wires":[]},{"id":"4f8d83de.93e1cc","type":"mqtt-broker","name":"Rasperry Pi Server","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"05d51aa5bf1b2b5d","type":"profile","name":"Wohnzimmer","time1":"00:00","temp1":"19","time2":"06:00","temp2":"22","time3":"18:00","temp3":"19","time4":"23:59","temp4":"19","time5":"","temp5":"","time6":"","temp6":"","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""}]