Thermostat-flows.json
[{"id":"58f2c3d53d8bde28","type":"tab","label":"Thermostat","disabled":false,"info":""},{"id":"5604c492b0b82837","type":"inject","z":"58f2c3d53d8bde28","name":"Heizung EIN","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"HeaterRelayIn","payload":"ON","payloadType":"str","x":190,"y":80,"wires":[["0c839a5ee25cdb44"]]},{"id":"0c839a5ee25cdb44","type":"mqtt out","z":"58f2c3d53d8bde28","name":"Heizung EIN","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":470,"y":80,"wires":[]},{"id":"623f173652142325","type":"mqtt in","z":"58f2c3d53d8bde28","name":"Heizung Status","topic":"HeaterRelayState","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":180,"y":200,"wires":[["391ff23aa203a7e0"]]},{"id":"b3ccb10a302e809a","type":"mqtt in","z":"58f2c3d53d8bde28","name":"Heater_outtopic","topic":"HeaterRelayOut","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":180,"y":260,"wires":[["d74db648828fbf38"]]},{"id":"391ff23aa203a7e0","type":"debug","z":"58f2c3d53d8bde28","name":"Heizung Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"d74db648828fbf38","type":"debug","z":"58f2c3d53d8bde28","name":"Heizung Outtopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"f5ac41ff0e177b38","type":"inject","z":"58f2c3d53d8bde28","name":"Heizung AUS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"HeaterRelayIn","payload":"OFF","payloadType":"str","x":190,"y":140,"wires":[["65ec56132ac90b84"]]},{"id":"65ec56132ac90b84","type":"mqtt out","z":"58f2c3d53d8bde28","name":"Heizung AUS","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":470,"y":140,"wires":[]},{"id":"8f92f022b75c3d32","type":"mqtt in","z":"58f2c3d53d8bde28","name":"Temperatur Sensor","topic":"HeaterSensorOut","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":830,"y":80,"wires":[["3ee8e484f95b4ac6"]]},{"id":"3ee8e484f95b4ac6","type":"debug","z":"58f2c3d53d8bde28","name":"Temperatur in C","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":80,"wires":[]},{"id":"9950af617e36f746","type":"hysteresis","z":"58f2c3d53d8bde28","name":"Temperatur Hysteresis Fixed","ThresholdType":"fixed","ThresholdRising":"23","ThresholdFalling":"21","TopicThreshold":"","TopicCurrent":"","ThresholdDeltaRising":"","ThresholdDeltaFalling":"","InitialMessage":false,"OutRisingType":"str","OutRisingValue":"OFF","OutFallingType":"str","OutFallingValue":"ON","OutTopicType":"str","OutTopicValue":"HeaterRelayIn","DynRaiseError":false,"x":520,"y":420,"wires":[["4a5a09efc7ade545"]]},{"id":"aa1729207665d3d5","type":"mqtt in","z":"58f2c3d53d8bde28","name":"Temperatur Sensor","topic":"HeaterSensorOut","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":190,"y":420,"wires":[["9950af617e36f746"]]},{"id":"4a5a09efc7ade545","type":"mqtt out","z":"58f2c3d53d8bde28","name":"Heizung","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":820,"y":420,"wires":[]},{"id":"c56f6a958a1c1280","type":"comment","z":"58f2c3d53d8bde28","name":"Steuerung mit dem Hysteresis Node - Fixed","info":"","x":270,"y":380,"wires":[]},{"id":"27c76f5164aed966","type":"hysteresis","z":"58f2c3d53d8bde28","name":"Temperatur Hysteresis Dynamic","ThresholdType":"dynamic","ThresholdRising":"23","ThresholdFalling":"21","TopicThreshold":"threshold","TopicCurrent":"HeaterSensorOut","ThresholdDeltaRising":"1","ThresholdDeltaFalling":"1","InitialMessage":true,"OutRisingType":"str","OutRisingValue":"OFF","OutFallingType":"str","OutFallingValue":"ON","OutTopicType":"str","OutTopicValue":"HeaterRelayIn","DynRaiseError":false,"x":530,"y":560,"wires":[["7f146e226d789019"]]},{"id":"a4a52d771844ddad","type":"mqtt in","z":"58f2c3d53d8bde28","name":"Temperatur Sensor","topic":"HeaterSensorOut","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":190,"y":560,"wires":[["27c76f5164aed966"]]},{"id":"7f146e226d789019","type":"mqtt out","z":"58f2c3d53d8bde28","name":"Heizung","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":820,"y":560,"wires":[]},{"id":"3623ad9b286a43e3","type":"comment","z":"58f2c3d53d8bde28","name":"Steuerung mit dem Hysteresis Node - Dynamic","info":"","x":280,"y":520,"wires":[]},{"id":"628770734563309b","type":"ui_slider","z":"58f2c3d53d8bde28","name":"Thermostat","label":"Thermostat","tooltip":"","group":"c5971f5c.17d8d8","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"threshold","topicType":"str","min":"15","max":"30","step":1,"className":"","x":210,"y":620,"wires":[["27c76f5164aed966"]]},{"id":"db8e2226211b300a","type":"ramp-thermostat","z":"58f2c3d53d8bde28","name":"Wohnzimmer Thermostat","profile":"81cfafaa86c19df3","hysteresisplus":"1","hysteresisminus":"1","x":710,"y":820,"wires":[["40c95e62329374bc","f39ae09aedc2c0a5"],["fea8c07b9d60d390"],["894b4504be8b0c6b"]]},{"id":"19162dc71a9b3147","type":"mqtt in","z":"58f2c3d53d8bde28","name":"Temperatur Sensor","topic":"HeaterSensorOut","qos":"2","datatype":"auto","broker":"4f8d83de.93e1cc","nl":false,"rap":true,"rh":0,"x":190,"y":820,"wires":[["bc0f6d2992da589b"]]},{"id":"bc0f6d2992da589b","type":"change","z":"58f2c3d53d8bde28","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"setCurrent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":820,"wires":[["db8e2226211b300a"]]},{"id":"894b4504be8b0c6b","type":"debug","z":"58f2c3d53d8bde28","name":"Target Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":880,"wires":[]},{"id":"fea8c07b9d60d390","type":"debug","z":"58f2c3d53d8bde28","name":"Aktuelle Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":840,"wires":[]},{"id":"40c95e62329374bc","type":"change","z":"58f2c3d53d8bde28","name":"Switch OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":760,"wires":[["dc906c44a039294b"]]},{"id":"f39ae09aedc2c0a5","type":"change","z":"58f2c3d53d8bde28","name":"Switch ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":800,"wires":[["dc906c44a039294b"]]},{"id":"dc906c44a039294b","type":"mqtt out","z":"58f2c3d53d8bde28","name":"Heizung","topic":"HeaterRelayIn","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4f8d83de.93e1cc","x":1220,"y":780,"wires":[]},{"id":"9df576002862b2a8","type":"comment","z":"58f2c3d53d8bde28","name":"Steuerung mit dem dem Ramp Thermostat Node","info":"","x":280,"y":780,"wires":[]},{"id":"4f8d83de.93e1cc","type":"mqtt-broker","name":"Rasperry Pi Server","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c5971f5c.17d8d8","type":"ui_group","name":"Thermostat","tab":"a65ed63c.3de628","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"81cfafaa86c19df3","type":"profile","name":"Wohnzimmer","time1":"00:00","temp1":"19","time2":"06:00","temp2":"22","time3":"20:00","temp3":"19","time4":"23:59","temp4":"19","time5":"","temp5":"","time6":"","temp6":"","time7":"","temp7":"","time8":"","temp8":"","time9":"","temp9":"","time10":"","temp10":""},{"id":"a65ed63c.3de628","type":"ui_tab","name":"Tests","icon":"dashboard","disabled":false,"hidden":false}]